body{
  margin: 0px;
}

.logoImg{
  height: 60px;
  margin: 10px 10px;
}

a{
  text-decoration: none;
  color: white;
}

.loginFormItems{
  width: 400px;
}

.genre{
  padding: 5px;
  border-radius: 5px;
  margin: 2px;
  background-color: #90cea1 ;
}

.detailPoster{
  margin: 40px;

}

.companyLogo{
  height: 40px;
  width: 60px;
  margin: 5px;
}